@model IEnumerable<SystemMartinezCV.Models.Proveedores>

@{
    ViewBag.Title = "Index";
    var lista = Model.ToArray();
}

<!DOCTYPE html>
<p>
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-info" })
</p>
@*<table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Representante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NRC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Representante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NRC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdProveedor }, new {@class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.IdProveedor }, new {@class = "btn btn-success" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.IdProveedor }, new {@class = "btn btn-danger" })
            </td>
        </tr>
    }

    </table>*@
<div class="row">
    @for (int i = 0; i < lista.Length; i += 1)
    {
        <div class="col-sm-6">
            <div class="jumbotron" style="background-color: #2C3E50; color: #fff">
                <p style="font-size: 26px">RazonSocial: @lista[i].RazonSocial</p>
                <p style="font-size: 20px">Representante: @lista[i].Representante</p>
                @Html.ActionLink("Editar", "Edit", new { id = lista[i].IdProveedor }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id = lista[i].IdProveedor }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = lista[i].IdProveedor }, new { @class = "btn btn-danger" })

            </div>
        </div>
    }
</div>
