@model SystemMartinezCV.Models.Productos

@{
    ViewBag.Title = "Details";
}
    <div class="jumbotron" style="background-color: #2C3E50; color: #fff">
        <h4 style="color:#fff">Agregar producto</h4>
        <hr />
        <div class="form-row">
            <div class="form-group col-md-4 mb-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Categorias.Categoria)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Categorias.Categoria)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UnidadMedida.Unidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UnidadMedida.Unidad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cantidad)
                </dd>
                </dl>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Precio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaRegistro)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaRegistro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EstadoEliminar)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EstadoEliminar)
                </dd>

            </div>

        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.IdProducto }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
