@model IEnumerable<SystemMartinezCV.Models.Productos>

@{
    ViewBag.Title = "Index";
}
 <center><h2>Productos</h2></center>

<br />

<p style="width:50%;">
    @Html.ActionLink("agregar", "Create", null, new {@class = "btn btn-primary btn-lg btn-block" })
</p>
<table class="table" style="background-color: #2C3E50; color: #fff;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categorias.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadMedida.Unidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoEliminar)
        </th>*@
        <th>Funciones</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Categorias.Categoria)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnidadMedida.Unidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cantidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Precio)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaRegistro)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EstadoEliminar)
    </td>*@
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.IdProducto }, new { @class = "btn btn-warning" } ) |
        @Html.ActionLink("Detalles", "Details", new { id = item.IdProducto }, new { @class = "btn btn-success" } ) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdProducto }, new { @class = "btn btn-danger" } )
    </td>
</tr>
}

</table>
