@model SystemMartinezCV.Models.Clientes

@{
    ViewBag.Title = "Details";
}

<br />
<div class="row">
    <div class="col-sm-3">
        <dl class="dl-horizontal jumbotron" style="background:#2C3E50; color: #fff">
            <h4>Clientes</h4>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DUI)
            </dt>
        </dl>
    </div>

    <div class="col-sm-3">
        <dl class="jumbotron" style="background:#2C3E50; color: #fff">
            <dd>
                @Html.DisplayFor(model => model.DUI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NRC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NRC)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NIT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NIT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstadoEliminar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstadoEliminar)
            </dd>

        </dl>
    </div>
    </div>
    <hr />

    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdCliente }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info" })
    </p>
