@model IEnumerable<SystemMartinezCV.Models.Clientes>

@{
    ViewBag.Title = "Index";
}
<center>
    <h2>Clientes</h2>
</center>
<br />
<p>
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-primary btn-lg btn-block" })
</p>
<table class="table" style="background-color: #2C3E50; color: #fff;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DUI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NRC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIT)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.EstadoEliminar)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DUI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NRC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIT)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.EstadoEliminar)
            </td>*@
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdCliente }, new { @class = "btn btn-warning" } ) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdCliente }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdCliente }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
