@model IEnumerable<SystemMartinezCV.Models.Proyectos>

@{
    ViewBag.Title = "Index";
}

    <center>
        <h2>Proyectos</h2>
    </center>
 <br />
<p>
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-primary btn-lg btn-block" })
</p>
<table class="table" style="background-color: #2C3E50; color: #fff;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontoFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comision)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleados.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontoFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comision)
        </td>
        <td>
            @Html.ActionLink("Edita", "Edit", new { id=item.IdProyecto }, new { @class = "btn btn-warning" } ) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdProyecto }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdProyecto }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
