
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>

    <div class="wrapper d-flex align-items-stretch side">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4 pt-5">
                <h1><a href="index.html" class="logo">Martinez</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fab fa-product-hunt"></i>
                            Productos
                        </a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#">Home 1</a>
                            </li>
                            <li>
                                <a href="#">Home 2</a>
                            </li>
                            <li>
                                <a href="#">Home 3</a>
                            </li>
                        </ul>
                    </li>
                    @try
                    {
                        if (Session["Rol"].ToString() == "Admin")
                        {
                            <li>
                                <a href="#">
                                    <i class="fas fa-cart-arrow-down"></i>
                                    Compras
                                </a>
                            </li>
                        }
                        <li>
                            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <i class="fas fa-file-alt"></i>
                                Ventas
                            </a>
                            <ul class="collapse list-unstyled" id="pageSubmenu">
                                <li>
                                    <a href="#">Page 1</a>
                                </li>
                                <li>
                                    <a href="#">Page 2</a>
                                </li>
                                <li>
                                    <a href="#">Page 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-border-all"></i>
                                Proyectos
                            </a>
                        </li>
                        if (Session["Rol"].ToString() == "Admin")
                        {
                            <li>
                                <a href="#EmpSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                    <i class="fas fa-file-alt"></i>
                                    Empleados
                                </a>
                                <ul class="collapse list-unstyled" id="EmpSubmenu">
                                    <li>
                                        <a href="@Url.Action("Index","Empleados")">Empleados</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Usuarios")">Usuarios</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Roles")">Roles</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        if (Session["Rol"].ToString() == "Admin")
                        {
                            <li>
                                <a href="#">
                                    <i class="fas fa-paste"></i>
                                    Reportes
                                </a>
                            </li>
                        }
                    }
                    catch (Exception e)
                    {

                    }
                    <li>
                        <a href="@Url.Action("CerrarSesion","Home")">
                            <i class="fas fa-paste"></i>
                            Cerrar Sesion
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/popper.min.js"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>