@model SystemMartinezCV.Models.Usuarios

@{
    ViewBag.Title = "Delete";
}

<style>
    .row {
        width: 100%;
    }

    .col-sm-3 {
        display: inline-flex;
    }

        .col-sm-3 .jumbotron {
            font-size: 85%;
            width: 100%;
        }
</style>


<div>

    <div class="row">
        <div class="col-sm-3">
            <dl class="dl-horizontal jumbotron" style="background:#2C3E50; color: #fff">
                <h4>Eliminar Usuario</h4>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Empleados.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Empleados.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Roles.Rol)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Roles.Rol)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Usuario)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario)
                </dd>

            </dl>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Regresar", "Index", null, new {@class="btn btn-info" })
    </div>
}
    
