@model IEnumerable<SystemMartinezCV.Models.Usuarios>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Agerga", "Create", null, new {@class = "btn btn-info" })
</p>
<table class="table jumbotron table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles.Rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleados.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.Rol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdUsuario },new {@class = "btn btn-warning" }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdUsuario },new {@class = "btn btn-success" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdUsuario },new {@class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
