@model SystemMartinezCV.Models.Compras

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proveedores.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedores.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoEliminar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoEliminar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCompra }) |
    @Html.ActionLink("Back to List", "Index")
</p>
