@model IEnumerable<SystemMartinezCV.Models.DetalleCompra>

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Compras.NFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Compras.NFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDetalleCompra }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDetalleCompra }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDetalleCompra })
        </td>
    </tr>
}

</table>
