@model SystemMartinezCV.Models.Compras

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="jumbotron" style="background-color: #2C3E50; color: #fff">
        <h4 style="color:#fff">Editar Compras</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdCompra)

        <div class="form-row">

            <div class="form-group col-md-4 mb-3">

                @Html.LabelFor(model => model.NFactura, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.NFactura, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NFactura, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4 mb-3">
                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4 mb-3">
                @Html.LabelFor(model => model.FechaRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.FechaRegistro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaRegistro, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4 mb-3">
                @Html.LabelFor(model => model.IdProveedor, "IdProveedor", htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.DropDownList("IdProveedor", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdProveedor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4 mb-3">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4 mb-3">
                @Html.LabelFor(model => model.EstadoEliminar, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.EstadoEliminar, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EstadoEliminar, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-success" style="width: 40%" />
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info" })

                </div>
            </div>
        </div>
    
}