@model IEnumerable<SystemMartinezCV.Models.Compras>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="background-color: #2C3E50; color: #fff;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proveedores.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.EstadoEliminar)
        </th>*@
        <th>Funciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedores.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.EstadoEliminar)
        </td>*@
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdCompra }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdCompra }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdCompra }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
