@model IEnumerable<SystemMartinezCV.Models.Compras>

@{
    ViewBag.Title = "Lista";
}

<center><h2>Compras</h2></center>
<br />

<p style="width:20%;">
    @Html.ActionLink("Agregar", "CrearCompra", null, new { @class = "btn btn-primary btn-lg btn-block" })
</p>
<center><h2>Factura</h2></center>
<br />

<div class="card w-100" style="background-color: #2C3E50; color: #fff;">
    <div class="card-body">
        <h5 class="card-title">Detalles</h5>
       
        <label></label>
    </div>
</div>
<br />
<br />

@*<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>yy</td>
            <td>hh</td>
            <td>mm</td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <th scope="row">Total</th>
            <td colspan="2"></td>

        </tr>

    </tbody>
</table>*@
<table class="table" style="background-color: #2C3E50; color: #fff;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proveedores.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.EstadoEliminar)
            </th>*@
        <th>Funciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedores.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.EstadoEliminar)
                </td>*@
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdCompra }, new { @class = "btn btn-warning" }) |
                @*@Html.ActionLink("Detalles", "Details","DetalleCompras", new { id=item.IdCompra }, null, new { @class = "btn btn-info" }) |*@
                <a href="@Url.Action("Index","DetalleCompras",new { id=item.IdCompra })">Detalles</a>
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdCompra }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }


</table>