@model IEnumerable<SystemMartinezCV.Models.DetalleCompra>

@{
    ViewBag.Title = "Index";
}

<center><h2>Detalle Compras</h2></center>

<br />

@*<p>
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-primary btn-lg btn-block" })
</p>*@
<table class="table"  style="background-color: #2C3E50; color: #fff;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Compras.NFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Compras.NFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productos.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdDetalleCompra }, new { @class = "btn btn-warning" } ) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdDetalleCompra }, new { @class = "btn btn-success" } ) |
                @Html.ActionLink("ELiminar", "Delete", new { id = item.IdDetalleCompra }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
