@model SystemMartinezCV.Models.Subproyectos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subproyectos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proyectos.Proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proyectos.Proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rentabilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rentabilidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdSubProyecto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
