@model IEnumerable<SystemMartinezCV.Models.Subproyectos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p style="width:20%;">>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proyectos.Proyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rentabilidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proyectos.Proyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rentabilidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSubProyecto }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSubProyecto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSubProyecto })
        </td>
    </tr>
}

</table>
