@model SystemMartinezCV.Models.Roles

@{
    ViewBag.Title = "Create";
}
    <style>
        input{
            max-width:95%;
            display:block;
            margin-left:auto;
            margin-right:auto;
        }
        .text-left{
            justify-content:center;
        }
        .control-label{
            padding-left:30px
        }
    </style>


<form>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <center><div class="jumbotron col-sm-5" style="background-color: #2C3E50; color: #fff">
        <h4>Roles</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group  mb-3 text-left">
            @Html.LabelFor(model => model.Rol, htmlAttributes: new { @class = "control-label col-md-2" })
            <div >
                @Html.EditorFor(model => model.Rol, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  mb-3 text-left">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div></center>
    }


</form>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
