@model SystemMartinezCV.Models.Roles

@{
    ViewBag.Title = "Details";
}

    <div>
        <div class="row">
            <div class="col-sm-3">
                <dl class="dl-horizontal jumbotron" style="background:#2C3E50; color: #fff">
                    <h4>Detalles Roles</h4>
                    <hr />
                   
                        <dt>
                            @Html.DisplayNameFor(model => model.Rol)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Rol)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>

                    </dl>
            </div>
           </div>
      </div>
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.IdRol }, new {@class = "btn btn-success" }) |
                @Html.ActionLink("Regresar", "Index", null, new {@class = "btn btn-danger" })
            </p>
