@model SystemMartinezCV.Models.Categorias

@{
    ViewBag.Title = "Delete";
}

<style>
    .row {
        width: 100%;
    }

    .col-sm-3 {
        display: inline-flex;
    }

        .col-sm-3 .jumbotron {
            font-size: 85%;
            width: 100%;
        }
</style>


<div>

    <div class="row">
        <div class="col-sm-3">
            <dl class="dl-horizontal jumbotron" style="background:#2C3E50; color: #fff">
                <h4>Eliminar Usuario</h4>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Categoria)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Categoria)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info" })

</div>
    }
</div>
