@model IEnumerable<SystemMartinezCV.Models.Categorias>

@{
    ViewBag.Title = "Index";
    var lista = Model.ToArray();
}



<p style="width:20%;">
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-primary btn-lg btn-block" })
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdCategoria }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdCategoria }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdCategoria }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>*@
<div class="row">
    @for (int i = 0; i < lista.Length; i += 1)
    {
        <div class="col-sm-6">
            <div class="jumbotron" style="background-color: #2C3E50; color: #fff">
                <p style="font-size: 26px">@lista[i].Categoria</p>
                <hr />
                <p style="font-size: 20px">@lista[i].Descripcion</p>

                @Html.ActionLink("Editar", "Edit", new { id = lista[i].IdCategoria }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id = lista[i].IdCategoria }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = lista[i].IdCategoria }, new { @class = "btn btn-danger" })

            </div>
        </div>
    }
</div>