@model IEnumerable<SystemMartinezCV.Models.Estados>

@{
    ViewBag.Title = "Index";
}

<center><h2>Estado</h2></center>
<br />
<p style="width:20%;">
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-primary btn-lg btn-block", })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdEstado }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdEstado }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdEstado })
            </td>
        </tr>
    }

</table>
