@model SystemMartinezCV.Models.Empleados

@{
    ViewBag.Title = "Details";
}

    <style>
        .row{
            width:100%;
        }
        .col-sm-3{
            display:inline-flex;
        }
        .col-sm-3 .jumbotron{
            font-size:85%;
            width:100%;
        }
    </style>



<h4>Empleados</h4>
<hr />
<div class="row">
    <div class="col-sm-3">
        <dl class="dl-horizontal jumbotron" style="background:#2C3E50; color: #fff">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

        </dl>
    </div>

    <div class="col-sm-3">
        <dl class="jumbotron" style="background:#2C3E50; color: #fff">
            <dt>
                @Html.DisplayNameFor(model => model.Dui)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dui)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nit)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Seguro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Seguro)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AFP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AFP)
            </dd>
        </dl>
    </div>

    <div class="col-sm-3">
        <dl class="dl-horizontal jumbotron" style="background:#2C3E50; color: #fff">
            <dt>
                @Html.DisplayNameFor(model => model.TelefonoEmergencia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelefonoEmergencia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Generos.Genero)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Generos.Genero)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>
        </dl>
    </div>
    <div class="col-sm-3">
        <dl class="dl-horizontal jumbotron" style="background:#2C3E50; color: #fff">
            @*<dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>

            <dd>
                <textarea id="Observaciones" value="s"></textarea>
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.EstadoEliminar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstadoEliminar)
            </dd>*@
        </dl>
    </div>
</div>
<hr />

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdEmpleado }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info" })
</p>
